# folders to ignore
.vscode/
.venv/
venv/
__pycache__/
dist/
build/
Results/
.poupetteData/

# temp files
*.pyc
*.pyo
*.log
*.zip
*.exe

# my files
plan poupette.txt
build.bat
PlaylistsSpecsvrai.json
Images/